<h2>My Todo List</h2>

<form (ngSubmit)="onSubmit()">
    <input id="name" type="text" [(ngModel)]="name" name="name">
</form>
<div class="wrapper">
    <div>
        <p>Todo</p>
        <ul>
            <li *ngFor="let task of getTodos()">{{ task.name }}
                <button (click)="changeStatus(task.name,'in progress')">go
                    to progress
                </button>
            </li>
        </ul>
    </div>

    <div>
        <p>In progress</p>
        <ul>
            <li *ngFor="let task of getInProgress()">{{ task.name }}
                <button (click)="changeStatus(task.name,'done')">go
                    to done
                </button>
            </li>
        </ul>
    </div>
    <div>
        <p>Done</p>
        <ul>
            <li *ngFor="let task of getDone()">{{ task.name }} <button (click)="remove(task.name)">Delete</button></li>
        </ul>
    </div>
</div>
